*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;


}
header{
    height: 6vh;
    width: 130vw;
    background-color: rgb(52, 124, 136);
padding-left: 10px;
padding-top: 40px;
padding-bottom: 0px;
color: aliceblue;
}
header div{
    position: fixed;
}
main{
    width: 130.5vw;
    height: 94vh;
    background-color: rgb(49, 140, 160);

}
.main_block{
    display: flex;
}
.main_block div:not(.icon_block div ){
    background-color: rgb(158, 158, 158);
    height: 87vh;
    width: 400px;
    margin: 15px;
    margin-bottom: 0;
    border-radius: 25px;
    overflow: auto;
}
.main_block div div:not(.icon_block div ){
    margin:15px;
    width:360px ;
    height: 150px;
    background-color: aliceblue;
overflow: hidden;
}
h3{
    margin-top: 20px;
    margin-left: 20px;
}
p{
    margin: 15px;
}
.icon_block{
    display: flex;
width: 340px;


}
.icon_block div{
    width: 30px;
    height: 30px;
    margin:10px;
    margin-top: 50px;
}
.icon_block div:last-child{
margin-top: 40px;
} 


